
// Fonts
$font-size-xl: 2.5rem
$font-size-md: 1rem

$font-height-md: 1.7

$font-family-headers: 'Ubuntu', sans-serif

// Colors
$brand-darkest: #0f0f1d
$brand-darkest-transparent: rgba(15, 15, 29, 0.6)
$brand-darkest-modal: rgba(15, 15, 29, 0.85)


$brand-white: #dfdfdf
$brand-off-white: #c9c9c9
$brand-off-white-transparent: rgba( 201, 201, 201, 0.3 )
$brand-black: #090909