
// keeping all main section containers here for ease of organization
.side-scrollbar
    background-color: $brand-darkest-transparent
    height: 100%
    width: 200px
    position: fixed
    z-index: 2
    top: 0
    left: 0
    // opacity: 70%

.section-about, .section-projects, .section-contact
    height: 110%
    padding-left: 200px
    display: flex
    flex-direction: column
    justify-content: center

.footer
    height: 50px
    background-color: $brand-black

    display: flex
    flex-direction: column
    justify-content: space-around

.section-projects
    background-color: $brand-black