
// keeping all main section containers here for ease of organization
.side-scrollbar
    background-color: $brand-darkest-transparent
    height: 100%
    width: 200px
    position: fixed
    z-index: 2
    top: 0
    left: 0
    // opacity: 70%
    @media screen and ( max-width: $width-phone )
        visibility: hidden
        

.section-about, .section-projects, .section-contact
    height: auto
    min-height: 110%
    padding-left: 200px
    display: flex
    flex-direction: column
    justify-content: center
    @media screen and ( max-width: $width-phone )
        padding: 0
        margin: 0
        height: auto
        min-height: 105%
        padding-top: 30px


.footer
    height: 50px
    background-color: $brand-black

    display: flex
    flex-direction: column
    justify-content: space-around

.section-projects
    @media screen and ( max-width: $width-ipad )
        min-height: 105%
        height: auto
        padding-top: 30%
        