
.section-projects
    

    background-image: url( '../assets/campfire-bg.jpg' )
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    background-size: cover

    .projects-header
        margin-bottom: 70px

    .projects-cards
        display: flex
        justify-content: space-around

        