
.side-header
    text-align: center    
    padding-top: 75px
    
.side-list
    height: 90%
    text-align: center
.scrollbar-list
    // TODO
    // switch these heights to be better, use some flexbox stuff prolly
    height: 90%
    list-style: none
    display: flex
    flex-direction: column
    justify-content: space-around
    text-align: right
    padding-right: 20%
    
    li
        a
            color: $brand-off-white
            text-decoration: none
            margin-top: 20%
            transition: all 0.2s ease-in-out

            &:hover
                color: lighten( $brand-white, 80% )
                text-shadow: 0 0 6px $brand-white

    .active
        color: lighten( $brand-white, 80% )
        text-shadow: 0 0 6px $brand-white
        text-decoration: underline