
// html to determine parent height and allow divs to take up full height
html
    height: 100%
    scroll-behavior: smooth

// have height here to 100% to allow the children to base height off this too
body
    height: 100%
    color: white
    background-color: black
    // text-shadow: 0px 0px 1px white