.my-proj-card
    color: $brand-off-white
    background-color: $brand-darkest-transparent
    border: 1px solid $brand-off-white
    box-shadow: 0 0 3px $brand-off-white

    img
        filter: brightness( 50% )
        padding: 20px
        border-radius: 15%

    .card-body
        height: 250px
        display: flex
        flex-direction: column
        justify-content: space-between

    .btn
        color: $brand-off-white
        background-color: $brand-darkest-transparent
        border: 1px solid $brand-off-white
        transition: all 0.2s ease-in-out
        &:hover
            color: lighten( $brand-off-white, 70% )
            background-color: darken( $brand-off-white-transparent, 70% )
            text-shadow: 0 0 4px grey
        &:active
            background-color: red
        &:focus
            box-shadow: 0 0 6px $brand-off-white
        
        
