
.project-modal
    padding: 40px 30px
    background-color: $brand-darkest-modal
    color: $brand-off-white
    border: 1px solid $brand-off-white
    box-shadow: 0 0 3px $brand-off-white
    // display: flex
    // flex-direction: column
    // justify-content: center
